
@media screen and (max-width:700px) {
    .homee{
        position: relative;
        background-color: rgb(0, 0, 0,0.7);
       height: auto;
       overflow: visible;
    }

    .logo{
        margin-left: -20vw;
    }

  

    .sign-up{
        display: none;
    }

    .contact-us{
        flex-direction: column;
        height: auto;
        width: 85vw;
        overflow: hidden;
        
    }

    .contact-content{
        width: 100%;
        overflow: hidden;
    }

    .contact-content-2{
        width:100%;

    }
    
 

    #img-contact-us-left{
        width: 100%;
        height: 50vh;
        
    }
    
    #img-contact-us-right{
        width: 100%;
        height: 50vh;
       
        
    }

    footer .footer-top{
        width: 50%;
    }


    .bikes{
        width: 100vw;
        
    }
 .bikes_section{
    margin-left: 0;
 }   
.bike_list{
    width:100%;
   height: 400px !important;
    margin-left: 5px;
   margin-bottom: 5%;
}

.bike_img:hover{
    background-size: 110%;
    background-position: center;
    font-size: 0px;
   
 }

.car-section{
    height: 80vh;
    width: 95%;
    background-color: rgb(239, 235, 235) !important;
    background-image: none;
   margin-left: 10px;
   color: black;
  
 
}

.img-car{
    width: 100%;
    height: 30%;
}

.car-content{
    width: 100%;
    height:70% ;
    padding: 0;
}

footer{
    height:35vh;
}
footer div{
    width: 100%;
  
}

.footer-contact p{
    padding-left: 15vw;
}

.icons{
    margin-left: 20vw;

}

.icons a{
 font-size:40px;
 padding-right: 10vw;
}
   




    .menu-toggle {
        display: block;
        margin-right: -25vw;
    }

    .links {
        display: none;
        flex-direction: column;
        background-color: rgb(0, 0, 0,0.7);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 5px 0px 5px 0px;
        border-radius: 10px;
        z-index: 1000;
        width: 100%;
        text-align: center;
      
    }

    .links.active {
        display: flex;
    }


.overlay-text{
    font-size: 1rem;
}

.vbk-name{
    font-size: 1rem;
}

    
.more-details{
    font-size: 1rem !important;
    background-color: rgb(128, 128, 128,0.7);

}



}

@media screen and (max-width:900px){
   
    .bike_list{
        width:90%;
        height: 600px;
        margin-left: 5vw;
       
    }
    
    .bike_img:hover{
        background-size: 100%;
        background-position: center;
        font-size: 0px;
       
     }
    
    .car-section{
        height: 650px;
        width: 95%;
        background-color: rgb(239, 235, 235) !important;
        background-image: none;
       margin-left: 10px;
       color: rgb(32, 32, 32);
     
     
    }
    
    .img-car{
        width: 100%;
        height: 40%;
    }
    
    .car-content{
        width: 100%;
        height: 60%;
      
    }
    
    footer{
        height:250px;
    }
    footer div{
        width: 100%;
      
    }
    
    .footer-contact p{
        padding-left: 15vw;
    }
    
    .icons{
        margin-left: 20vw;
    
    }
    
    .icons a{
     font-size:40px;
     padding-right: 10vw;
    }

} 

